body {
  padding: 16px;
}
.App {
  font-family: sans-serif;
}
pre {
  background: #ccccdd;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}
input[disabled],
input[readonly],
#sendAddress2 {
  color: rgb(207, 207, 207);
}
